header
    nav.navbar.navbar-dark
        div(class='navbar-brand') 
            span.brand Adele Cloud
            div(class='btn btn-light create-new-button') New
        form(action="get" class='form-inline header-search')
            input(type='seacrh' placeholder='Search for your savings' class='search-input form-control mr-sm-2')
            button(type="submit" class=' btn search-bth btn-outline-light my-2 my-sm-0 m-2') Search