header
    nav.navbar.navbar-dark.bg-danger
        a(class='navbar-brand' href='/savings/new') Adele Cloud
            div(class='btn btn-outline-warning create-new-button') New
        form(action="get" class='form-inline')
            input(type='seacrh' placeholder='Search for your savings' class='search-input form-control mr-sm-2')
            button(type="submit" class=' btn btn-outline-light my-2 my-sm-0 m-2') Search