header
    nav.navbar.navbar-dark.bg-danger
        a.navbar-brand Adele Cloud
            button(type="submit" class='btn btn-outline-warning create-new-button ') New
        form(action="get" class='form-inline')
            input(type='search' placeholder='Search for your savings' class='search-input form-control mr-sm-2')
            button(type="submit" class=' btn btn-outline-light my-2 my-sm-0 m-2') Search