header
    nav.navbar.navbar-dark
        div(class='navbar-brand') 
            span.brand Adele Cloud
            div(class='btn btn-light create-new-button') Новое
        form(class='form-inline header-search' method='GET' action='/search/getDetailedPage' autocomplete='off')
            input(type='Начни вводить имя' placeholder='Search for your savings' name='findString' id='globalSearch' class='search-input form-control mr-sm-2')
            button(type="submit" class=' btn search-bth btn-outline-light my-2 my-sm-0 m-2') Искать