.profileWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.infoContainer {
    margin: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    height: 20%;
    width: 100%;
    background-color: rgb(240, 240, 240);

}

.userName {
    line-height: 30px;
    font-size: 40px;
    width: 220px;
    text-align: center;
}
.userId {
    /* padding-left: 15px; */
    font: small;
    color: rgb(179, 179, 179)
}
.friendsLink {
    position: relative;
    width: 120px;
    height: 20px;
    text-align: center;
    font-size: x-large;
}

.dashboardContainer {
    height: 80%;
    min-height: 480px;
    width: 100%;
    display: flex;

    flex-direction: row;
}
.dashboardColumn {
    border-right: 1px solid rgb(218, 218, 218);
    flex-grow: 1;
    width: 30%;
}

.dashboardColumn:last-child {
    border-right: none;
}
.columnName {
    color: rgb(71, 83, 255);
    padding-top: 15px;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 50px;
}

.columnRow {
    margin: auto;
    width: 90%;
    font-size: large;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}
.columnRow:hover {
    background-color: lightgray;
}

.emptyColumnMessage {
    font-size: x-large;
    color: rgb(161, 161, 161);
    text-align: center;
}

.infoContainer.notOwn {
   flex-direction: row;
   justify-content: space-between;
}
.userInfoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dashboardContainer.notOwn {
    display: flex;
    width: 100%;
    margin: auto;
}
.dashboardColumn.notOwn {

    width: 20%;
}

.columnRow.notOwn {
    width: 60%;
}


.friendshipStateContainer {
    margin-top: -10px;
    margin-right: 10px;
    min-width: 200px;
    width: 200px;
}

.state {
    font-size: 19px;
}

.declineButton {
    margin-right: 8px;
}
.changeStateButton {
    float: right;
    margin-right: 35px;
    margin-top: 10px
}

.changeStateButton.twoBtns {
    margin-right: 5px;
    margin-top: 10px;
    float: left;
}

.columnRow.stretched-link {
    display: block;
    text-align: center;
    position: relative;
    color: rgb(133, 210, 255);
    font-size: 18px;
}

.columnRow.columnRow.stretched-link:hover {
    color: rgb(255, 255, 255);
}

.scrollable {
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.friendsList {
    height: 88%;
    display: flex;
}

.friends-column {
    display: flex;
    width: 30%;
    flex-grow: 1;
}


.friends-section {
    overflow-y: scroll;
    border-right: 1px solid rgb(184, 184, 184);
    width: 100%;
}
.friends-section::-webkit-scrollbar {
    display: none;
}
.list-name {
    margin: auto;
    width: 90%;
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    color: rgb(157, 72, 255);
    margin-bottom: 25px;
}

.list-name.new-info {
    color: lightsalmon
}

.empty-requests {
    margin-top: 25px;
    color: lightgray;
    font-size: 23px;
    text-align: center;
}

.list-row {
    display: block;
    color: black;
    position: relative;
    cursor: pointer;
    width: 80%;
    height: 50px;
    border: 1px solid lightgray;
    margin: auto;
    border-radius: 10px;
    font-size: x-large;
    line-height: 50px;
    text-align: center;
}

.list-row:hover {
    background-color: rgb(231, 230, 230);
}