.wrapper {
    min-width: 1000px !important;
    width: 100%;
    margin-bottom: 25px;
}
.savingsWrapper {

    display:grid;
    grid-template-columns: repeat(3, 3fr);
    min-width: 900px !important;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    gap: 30px;
}
.saving {
    margin-top: 20px;
    position: relative;
    height: 200px;
    min-width: 200px;
    border: solid;
    border-width: 1px;
    border-color: rgb(126, 126, 126);
    border-radius: 12px;
}
.saving:hover{
    opacity: 1;
    background-color: rgb(233, 233, 233);
    /* margin-top: 17px; */
    /* margin-left: -5px; */
    /* box-shadow: rgb(105, 105, 105) 1.8px 1.8px; */
}
.savingName {
    color: white;
    font-size: large;
    text-decoration: none;
}
.savingName:hover{
    text-decoration: none;
    color: white;
    /* color: rgb(177, 177, 177) */
}
.infoBar{
    background-color: rgb(119, 53, 206);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: none;
    padding:  10px;
    width: 100%;
    min-height: 5%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(116, 116, 116) ;

}
.infoButton {
    position: relative;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    display: inline-block;
    background-image: url('../icons/info.png');
    height: 16px;
    width: 16px;
}
.privateSign {
    display: inline-block;
    background-image: url('../icons/private.png');
    background-repeat: no-repeat;
    /* background-position-y: bottom; */
    height: 20px;
    width: 20px;
}
.infoButton:hover {
    background-color: rgb(219, 219, 219);
}
.firstFilePreview {
    cursor: pointer;
    border-radius: 10px;
    font-size: large;
    width: 90%;
    height: 50px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(102, 102, 102);
    margin: auto;
    margin-top: 10px;
}

.firstFileName {
    color: rgb(56, 56, 56);
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
}
.firstFileSize {
    color: rgb(183, 0, 255);
    padding-top: 5px;
    padding-right: 5px;
    font-size: small;
    float: right
}

.profileLink {
    cursor: pointer;
    width: 120px;
    height: 40px;
    text-align: center;
    padding: 5px;
    font-size: large;
    background-color: rgb(119, 53, 206);


    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.profileLink:hover {
    background-color: rgb(100, 37, 184);


}
.usedInfo {
    background-color: rgb(119, 53, 206);

    text-align: end;
    color: white;
    border-bottom-left-radius: 20px;
    /* margin-top: 10px;
    margin-right: 10px; */
}
.usedInfo > h1 {
    padding-left: 10px;
    padding-top: 25px;
    padding-right: 20px;
    line-height: 10px;
}
.usedInfo > span {
    padding-right: 20px;
    color: rgb(248, 248, 248);
}

.additionalInfo {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    right: 10px;
    top: 10px;
    height: 105px;
    width: 170px;
    border-radius: 10px;
    border: 1px solid grey;
}
.additionalInfo > ul {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    list-style-type: none;
}
@media screen and  (max-width: 1200px) {
    .savingsWrapper {
    
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.create-new-button {
    background-color: rgb(116, 48, 206);
    background-image: url('../icons/add-icon-128.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.create-new-button:hover {
    background-color: rgb(128, 58, 219);

}

.no-savings-message {
    font-size: 25px;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    color: rgb(248, 117, 117)
}
.new-event {
    background-color: rgb(255, 111, 97);
}

.new-event:hover {
    background-color: rgb(230, 98, 86);

}